body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    background-image: url("../recursos/fondo3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
nav{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

a {
    color: rgb(25, 2, 236);
    text-decoration: none;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
